.mainMemo{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.memoCard{
  display: block;
  margin: 10px;
  width:  15vw;
  min-width: 270px;
  height: 120px;
  padding: 7px;
  padding-top:50px;
  background-color: var(--bg-primary);
  color: var(--accent);
  font-size: 200%;
  text-align: center;
  border: 3px solid var(--bg-accent);
  border-radius: 25px;
  box-shadow: inset 0 0 50px -20px var(--bg-accent);
  transition: padding-top 0.2s, box-shadow 0.2s,border-color 0.2s,transform 0.5s;
  transform: rotateY(180deg);
  transition-timing-function: linear;
  box-sizing: border-box;
  padding-top: 10px;
}
.memoCard:hover{
  padding-top:11px;
  box-shadow: inset 0 0 40px -10px var(--accent);
  border-color: var(--accent);
}
.memoCardUnactive{
  opacity: 0.5;
  box-shadow: 0 0 40px -15px var(--secondary) !important;
}
p{
    padding:0;
    margin:0;
}
